<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kasoft.register.base.mapper.DoctorInspectresourceMapper">

  <resultMap id="doctorInspectresourceMap" type="com.kasoft.register.base.api.entity.DoctorInspectresource">
                  <id property="inspResourceId" column="insp_resource_id"/>
                        <result property="hospitalName" column="hospital_name"/>
                        <result property="inspItemName" column="insp_item_name"/>
                        <result property="unitPrice" column="unit_price"/>
                        <result property="quantity" column="quantity"/>
                        <result property="startTime" column="start_time"/>
                        <result property="endTime" column="end_time"/>
                        <result property="remark" column="remark"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="version" column="version"/>
                        <result property="delFlag" column="del_flag"/>
            </resultMap>
	<select id="getAllItemGroup" resultType="com.kasoft.register.base.api.entity.DoctorInspectresource">
			SELECT
				MAX( a.insp_item_name ) AS insp_item_name,
				MAX( b.insp_item_exp ) AS 'remark',
				MIN( unit_price ) AS unit_price,
				MAX( unit_price ) AS max_unit_price
			FROM
				kasoft_doctor_inspectresource a
				LEFT JOIN kasoft_doctor_inspectionitem b ON a.insp_item_id = b.insp_item_id AND b.del_flag=0
				WHERE a.del_flag = '0'
			GROUP BY a.insp_item_id
	</select>
</mapper>
