<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kasoft.register.base.mapper.DoctorPeopleinfoMapper">

  <resultMap id="doctorPeopleinfoMap" type="com.kasoft.register.base.entity.DoctorPeopleinfo">
                  <id property="peopleId" column="people_id"/>
                        <result property="cardNumber" column="card_number"/>
                        <result property="cardNumberImg" column="card_number_img"/>
                        <result property="hasChronicDisease" column="has_chronic_disease"/>
                        <result property="chronicDisease" column="chronic_disease"/>
                        <result property="idCard" column="id_card"/>
                        <result property="idCardFront" column="id_card_front"/>
                        <result property="idCardBack" column="id_card_back"/>
                        <result property="headImg" column="head_img"/>
                        <result property="name" column="name"/>
                        <result property="nickname" column="nickname"/>
                        <result property="phone" column="phone"/>
                        <result property="tel" column="tel"/>
                        <result property="sex" column="sex"/>
                        <result property="birthDate" column="birth_date"/>
                        <result property="linkName" column="link_name"/>
                        <result property="linkPhone" column="link_phone"/>
                        <result property="note" column="note"/>
                        <result property="areaId" column="area_id"/>
                        <result property="syncId" column="sync_id"/>
                        <result property="userId" column="user_id"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="tenantId" column="tenant_id"/>
            </resultMap>
</mapper>
