<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kasoft.register.base.mapper.DoctorServicepackageMapper">

  <resultMap id="doctorServicepackageMap" type="com.kasoft.register.base.entity.DoctorServicepackage">
                  <id property="id" column="id"/>
                        <result property="parentId" column="parent_id"/>
                        <result property="packageCode" column="package_code"/>
                        <result property="packageLevel" column="package_level"/>
                        <result property="packageLabel" column="package_label"/>
                        <result property="peopleTypeList" column="people_type_list"/>
                        <result property="thumbnail" column="thumbnail"/>
                        <result property="image" column="image"/>
                        <result property="pinyinMnemonicCode" column="pinyin_mnemonic_code"/>
                        <result property="wubiMnemonicCode" column="wubi_mnemonic_code"/>
                        <result property="instructions" column="instructions"/>
                        <result property="attention" column="attention"/>
                        <result property="referenceCharges" column="reference_charges"/>
                        <result property="charges" column="charges"/>
                        <result property="publicSecurity" column="public_security"/>
                        <result property="publicSecurityPayment" column="public_security_payment"/>
                        <result property="noPublicSecurityPayment" column="no_public_security_payment"/>
                        <result property="medicalInsurancePayment" column="medical_insurance_payment"/>
                        <result property="personalPayment" column="personal_payment"/>
                        <result property="areaId" column="area_id"/>
                        <result property="hospitalId" column="hospital_id"/>
                        <result property="sort" column="sort"/>
                        <result property="packageState" column="package_state"/>
                        <result property="serviceType" column="service_type"/>
                        <result property="hasChildren" column="has_children"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="tenantId" column="tenant_id"/>
            </resultMap>
</mapper>
